/******* ANIMATION INTRO *******/
.outer {
  background-color: blueviolet;
  width: 500px;
  height: 500px;
  margin: 0 auto;
}

.inner {
  background-color: cadetblue;
  width: 50%;
  height: 50%;
  /* transition: transform 1s ease-in-out; */
}

.outer:hover .inner {
  /* transform: translateX(100%); */
  animation: travel 1s ease-in-out;
  /* animation-iteration-count: 4; */
  /* animation-direction: alternate; */
  animation-fill-mode: forwards;
  animation-delay: -0.5s;
}

@keyframes travel {
  0% {
    transform: translateX(0);
  }
  33% {
    transform: translateY(100%);
  }
  66% {
    transform: translate(100%, 100%);
  }
  100% {
    transform: translateX(100%);
  }
}
